@use "./global" as *;

.NotFound {
  @include wrap;
  .wrapper {
    text-align: center;
    margin: 10rem 1rem;
    word-break: keep-all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--tx);
    gap: 0.5rem;
    .icon {
      font-size: 5rem;
      margin-bottom: 2rem;
    }
  }
}
