@use "./global" as *;

.Reccomend {
  @include wrap;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: $max_width;
    margin: 5rem auto;
    color: var(--tx);
    font-size: 1.5rem;
    text-align: center;
    word-break: keep-all;
    .icon {
      color: red;
      font-size: 5rem;
    }
    button {
      font-size: 1rem;
      padding: 1rem 3rem;
      background-color: red;
      border: none;
      border-radius: 4px;
      color: $white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
