@use "./global" as *;

.Sidebar {
  position: absolute;
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 300ms;
  width: clamp(240px, 50%, 400px);
  height: 100%;
  background-color: var(--bg);
  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $logo;
    color: var(--bg);
    .logo {
      margin-top: 2rem;
      font-size: 5rem;
      animation: spin 12s infinite linear;
    }
    .name {
      margin-top: 0.75em;
      font-weight: bold;
      font-size: 1.25em;
    }
    .version {
      margin-bottom: 1em;
      font-size: 1em;
    }
  }
  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 1;
    background-color: var(--bg);
    li a {
      flex: 1;
      display: flex;
      align-items: center;
      cursor: pointer;
      .icon {
        color: var(--tx);
        width: 1.5rem;
        height: 1.5rem;
        padding: 1rem;
      }
      .text {
        color: var(--tx);
      }
      &:hover {
        background-color: var(--bg_hover);
      }
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .slideDiv {
        display: flex;
        align-items: center;
        .icon {
          color: var(--tx);
          width: 1.5rem;
          height: 1.5rem;
          padding: 1rem;
        }
        .text {
          color: var(--tx);
        }
      }
      .slide {
        padding: 0 1rem;
      }
    }
  }
}

#show {
  transform: translateX(0%);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

// @media screen and (max-width: $ms_tablet) {
//   .Sidebar {
//     .top {
//       font-size: 12px;
//       .logo {
//         margin-top: 0.5rem;
//         font-size: 2rem;
//       }
//     }
//     .nav {
//       font-size: 14px;
//       li a {
//         .icon {
//           padding: 0.5rem 1rem;
//         }
//       }
//       li .slideDiv {
//         .icon {
//           padding: 0.5rem 1rem;
//         }
//       }
//     }
//   }
// }
